/* "better-comments.tags": [
  {
    "tag": "!",
    "color": "#FF2D00",
    "strikethrough": false,
    "backgroundColor": "transparent"
  },
  {
    "tag": "?",
    "color": "#3498DB",
    "strikethrough": false,
    "backgroundColor": "transparent"
  },
  {
    "tag": "//",
    "color": "#474747",
    "strikethrough": true,
    "backgroundColor": "transparent"
  },
  {
    "tag": "todo",
    "color": "#FF8C00",
    "strikethrough": false,
    "backgroundColor": "transparent"
  },
  {
    "tag": "*",
    "color": "#98C379",
    "strikethrough": false,
    "backgroundColor": "transparent"
  }
] */

img{
    object-fit: cover;
    width: 100%
}
body{
    background-color: rgba(0, 0, 0, 0.5);
}
#container{
    width: 80%;
    margin: auto;
    background-color: cadetblue;    
    padding-top: 5%;
    padding-bottom: 5%;
}
                                /* Header Area Beginning */
#header{
    align-content: center;
    align-items: center;
    text-align: center;
}
#header #getKeyLabel{
    position: relative;
    margin-left: 5%;
}
#header span{
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
}
#logIn{
    padding: 15px 32px;
    background-color: powderblue;
    top: 50%;
    right: 50%;
}
#getKey{
    padding: 15px 32px;
    background-color: powderblue;    
    top: 50%;
    right: 50%;
}
#mainSection form label{
padding: 0px 20px;
}
#mainSection form input{
    width: 15%;
}
form{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 0px 10px;
}
#mainSection form button{
    margin: 10px;
}

                                /* Header Area End */
                                /* Booksection Area Beginning */

#bookSection{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 12px;
}
.book1{
    grid-column: span 5;
    background-color: blue;
    color: white;
}
.book2{
    grid-column: span 5;
    background-color: green;
    color: white;
}
.book3 {
    grid-column: span 5;
    background-color: green;
    color: white;
}
.thisBook{
    grid-column: span 5;
    background-color: green;
    color: white;
}